@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
    <h2>Contact Us Page</h2>

    <p>Name :<b>Basavaraj Loni</b></p>
    <p>Mobile No :<b>8390997708</b></p>
    <p>City :<b>Pune</b></p>
        <p>state :<b>Maha</b></p>
        <h2>pin:416413</h2>

    </div>
    
    <p>Name :<b>Mavdy</b></p>
    <p>Mobile No :<b>9411054622</b></p>
    <p>City :<b>Pune</b></p>
        <p>state :<b>Maha</b></p>
        <h2>pin:416003</h2>

    </div>



    <script src="~/lib/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        alert('page Loded..');
        });
    </script>
</body>
 
</html>
