@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <h2>Contact Us Page</h2>

    <p>Name :<b>Basavaraj Loni</b></p>
    <p>Mobile No :<b>8390997708</b></p>
    <p>City :<b>Pune</b></p>
</body>
</html>
